@import './vars.sass'
@import './fonts.sass'
@import './modificators.sass'

  
.button
  @extend .no-select
  cursor: pointer
  outline: none
  border: none
  background-color: $white
  color: $black-primary
  border: $border
  border-radius: rem(7)
  text-align: center
  display: block
  white-space: nowrap
  &--navigation
    @extend .button
    border-color: rgba(0, 0, 0, 0)
    border-radius: rem(12)
    padding: rem(11) rem(16) rem(13)
    border-color: rgba(0, 0, 0, 0)
    transition: border-color $menu-transition
    &:hover,
    &--hover
      border-color: $line-primary
  &--main,
  &--secondary
    @extend .button
    width: 100%
    height: rem(56)
    line-height: rem(24)
    font-size: rem(18)
    padding-top: rem(14)
    border-radius: rem(12)
    @include media-breakpoint-down(md)
      height: rem(48)
      font-size: rem(16)
      padding-top: rem(10)
      border-radius: rem(10)
    @include media-breakpoint-down(xs)
      height: rem(40)
      line-height: rem(16)
      font-size: rem(14)
      padding-top: rem(11)
      border-radius: rem(8)
    transition: background-color $menu-transition
  &--main
    color: $white !important
    background-color: $black-primary
    &:hover
      background-color: $black-action
    &--2
      @extend .button--main
  &--secondary
    @extend .button
    transition: background-color $menu-transition, color $menu-transition
    &:hover
      color: $white !important
      background-color: $black-primary
  &--left,
  &--right
    @extend .button--secondary
  &--online,
  &--offline,
  &--age
    cursor: default !important
    text-transform: uppercase
    padding: rem(4) rem(8)
    border: none
    border-radius: rem(12)
    @include font-params(11, 16)
    @include media-breakpoint-down(md)
      @include font-params(9, 16)
  &--online
    background-color: $online-secondary
  &--offline
    background-color: $offline-secondary
  &--age
    background-color: $line-secondary

      

    


.Link
  color: $black-primary
  &:hover
    text-decoration: none
    color: $black-primary
  &--active
    cursor: default
  &--disabled
    opacity: .5
    cursor: not-allowed


.FormattedMessage
  display: inline
  @extend .inherit-all


.pink-block
  border-radius: rem(12)
  background-color: $background



.Img
  width: 100%
  transition: opacity $menu-transition
  &--hidden
    opacity: 0
  &__img
    width: 100%
    // &--portrait
    //   width: 100%
    //   height: auto
    // &--landscape
    //   width: auto
    //   height: 100%




.Dropdown
  @extend .d-flex
  @extend .flex-column
  @extend .align-items-start
  border-top: $border
  &:first-of-type
    margin-top: rem(93)
    @include media-breakpoint-down(lg)
      margin-top: rem(103)
    @include media-breakpoint-down(md)
      margin-top: rem(63)
    @include media-breakpoint-down(sm)
      margin-top: rem(40)
  &:last-of-type
    border-bottom: $border
  &__title
    width: 100%
    cursor: pointer
    position: relative
    display: inline-block
    padding: rem(15) 0 rem(19)
    @extend .d-flex
    &__text
      width: 100%
      @extend .flex-grow-1
      @extend .no-select
      &::after
        content: ''
        position: absolute
        right: rem(32)
        top: 50%
        width: rem(32)
        height: rem(32)
        @extend .def-img
        background-image: url(./img/dropdown__arrow.svg)
        transform: translateY(-50%) rotate(-90deg)
        transition: transform $menu-transition
        .Dropdown--opened &
          transform: translateY(-50%) rotate(0deg)
  &__content
    width: 100%
    transition: height $menu-transition
    overflow: hidden
    &__container
      padding: rem(63) 0 rem(48)
      @include media-breakpoint-down(md)
        padding: rem(32) 0 rem(48)
      @include media-breakpoint-down(sm)
        padding: rem(21) 0 rem(31)
      width: 100%
      @extend .d-flex
      @extend .flex-column