$default-col-length: 20px;
$default-off-length: 8px;

// $col-len: calc(#{$default-col-length} / 1368px * 100%);
// $off-len: calc(#{$default-off-length} / 1368px * 100%);
$col-len: calc(20 / 1368 * 100vw);
$off-len: calc(8  / 1368 * 100vw);


// BOOTSTRAP VARS
$grid-columns:      12;
$grid-gutter-width: $col-len;

// $grid-breakpoints: (
//   // Extra small screen / phone
//   xs: 0,
//   // Small screen / phone
//   sm: 576px,
//   // Medium screen / tablet
//   md: 768px,
//   // Large screen / desktop
//   lg: 992px,
//   // Extra large screen / wide desktop
//   xl: 1200px
//   // xl: 1800px
// );

// $container-max-widths: (
//   sm: 540px,
//   md: 720px,
//   lg: 960px,
//   xl: 1024px
//   // xl: 1743px
// );