@import './grid.scss'
@import '~bootstrap/scss/bootstrap.scss'

@import url('https://fonts.googleapis.com/css2?family=Spectral:ital,wght@1,300&display=swap')
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@800&display=swap')


@font-face
  font-family: 'Formular'
  src: url('./fonts/Formular/Formular.ttf') format('truetype')
  font-weight: normal
@font-face
  font-family: 'Formular'
  src: url('./fonts/Formular/Formular-Bold.ttf') format('truetype')
  font-weight: bold

  
.desktop-only
  @include media-breakpoint-down(md)
    display: none !important
.mobile-only
  @include media-breakpoint-up(lg)
    display: none !important

.noselect
  -webkit-touch-callout: none  /* iOS Safari */
  -webkit-user-select: none    /* Safari */
  -khtml-user-select: none     /* Konqueror HTML */
  -moz-user-select: none       /* Firefox */
  -ms-user-select: none        /* Internet Explorer/Edge */
  user-select: none            /* Non-prefixed version, currently supported by Chrome and Opera */

.abs-cover
  position: absolute
  width: 100%
  height: 100%
  top: 0
  left: 0

.def-img
  background-repeat: no-repeat
  background-position: center
  background-size: cover

.inherit-all
  font-family: inherit
  font-weight: inherit
  font-size: inherit
  color: inherit

.button
  padding: 0
  cursor: pointer
  outline: none
  border: none
  background-color: rgba(0, 0, 0, 0)

@function rem($px)
  @return calc(#{$px} / 16 * 1rem)


// COLORS
$background: #F5ECEC
$black: #474747
$black-primary: #251616
$black-action: #160808
$line-primary: #000000
$line-secondary: #E0DCDC

$danger: #FF0000

$button-disabled-fill: #C4C4C4
$button-disabled-text: #8E8E8E

$online-primary: #00FF19
$online-secondary: #6CFF7B
$offline: #FFC6C6


$menu-transition: .2s
$border: 1px solid $dark



*
  font-family: 'Formular', sans-serif
  color: $black-primary
  margin: 0
  padding: 0
  box-sizing: border-box
  -webkit-font-smoothing: antialiased

.App
  overflow: hidden
  width: 100%
  height: 100%

.Link
  color: $black-primary
  &:hover
    text-decoration: none
    color: $black-primary
  &--active




.Header
  width: 100%
  height: rem(112)
  @include media-breakpoint-down(md)
    height: rem(72)
  &__container
    @extend .container
    @extend .d-flex
    @extend .flex-row
    @extend .align-items-center
    @extend .justify-content-between
    height: 100%
  &__logo,
  &__burger,
  &__links
    height: rem(48)
    @include media-breakpoint-down(md)
      height: rem(40)
  &__logo
    @extend .d-flex
    @extend .flex-row
    @extend .align-items-center
    &__img
      height: 100%
      width: auto
      margin-right: rem(10)
    &__name
      font-family: 'Montserrat', sans-serif
      text-transform: lowercase
      font-size: rem(20)
      @include media-breakpoint-down(md)
        font-size: rem(16.66666)
  &__burger
    width: rem(48)
    @include media-breakpoint-down(md)
      width: rem(40)
  &__links
    @extend .flex-grow-1
    @extend .d-flex
    @extend .flex-row
    @extend .align-items-center
    @extend .justify-content-between
    @include media-breakpoint-down(md)
      display: none !important

