@import './vars.sass'
@import './fonts.sass'
@import './elements.sass'
@import './modificators.sass'
@import './row.sass'

@import '~bootstrap/scss/bootstrap.scss'


*
  font-family: 'Formular', sans-serif
  font-display: auto
  color: $black-primary
  margin: 0
  padding: 0
  box-sizing: border-box
  -webkit-font-smoothing: antialiased


.App
  overflow: hidden
  width: 100%
  height: 100%


.Header__link__item--hover--bottom
  position: relative
  &::before
    content: ''
    z-index: 10000
    position: absolute
    width: 100%
    height: rem(42)
    left: 0
    top: 100%

.Header
  width: 100%
  background-color: $white
  &--fixed
    z-index: 100
    position: fixed
    top: -100%
    left: 0
    transition: top $menu-transition
    &--show
      top: 0
  border-bottom: 1px solid rgba(0, 0, 0, 0)
  transition: border-bottom $menu-transition-long
  &--secondary
    border-bottom: $border
  &__container
    @extend .container
    @extend .d-flex
    @extend .flex-row
    @extend .align-items-center
    height: rem(112)
    @include media-breakpoint-down(md)
      height: rem(72)
    // height: 100%
  &__logo,
  &__burger,
  &__links
    height: rem(48)
    @include media-breakpoint-down(md)
      height: rem(40)
  &__logo
    @extend .d-flex
    @extend .flex-row
    @extend .align-items-center
    @extend .mr-auto
    &__img
      height: 100%
      width: auto
      margin-right: rem(10)
    &__name
      font-family: 'Montserrat', sans-serif
      text-transform: lowercase
      font-size: rem(20)
      white-space: nowrap
      @include media-breakpoint-down(md)
        font-size: rem(16.66666)
  &__controls
    @extend .d-none
    @extend .d-md-flex
    @extend .flex-row
    margin-left: rem(32)
    @include media-breakpoint-down(md)
      margin-right: rem(60)
    &__item
      @extend .d-flex
      @extend .flex-row
      @extend .align-items-center
      @extend .button
      border: 1px solid $white
      border-radius: rem(20)
      height: rem(32)
      margin-right: rem(8)
      padding: 0 rem(10) 0 rem(6)
      transition: background-color $menu-transition, color $menu-transition
      &:not(&--user):hover
        background-color: $black-primary
        color: $white
      &--active
        background-color: $black-action !important
        color: $white
        border-color: $white !important
      &--user
        @extend .button--navigation
        cursor: default
        &--hover
          // @extend .button--navigation--hover
          border-color: $line-primary
          @extend .Header__link__item--hover--bottom
      &__icon
        width: rem(20)
        height: rem(20)
        margin-right: rem(4)
      path, circle, line, rect
        transition: stroke $menu-transition
      &:not(&--user):hover &__icon, &--active &__icon
        path, circle, line, rect
          stroke: $white
  &__burger
    width: rem(48)
    height: rem(24)
    @extend .d-lg-none
    @include media-breakpoint-down(md)
      width: rem(40)
    @extend .def-img
    background-image: url(./img/burger.svg)
    cursor: pointer
  &__links
    @extend .d-flex
    @extend .flex-row
    @extend .align-items-center
    @include media-breakpoint-down(md)
      display: none !important
    &__item
      @extend .button--navigation
      font-weight: bold
      margin-left: rem(8)
      &--hover
        @extend .button--navigation--hover
        @extend .Header__link__item--hover--bottom
      &--active
        color: $white
        background-color: $black-primary
        transition: color $menu-transition
        &:hover
          color: $white
          cursor: default
        &::after
          background-image: url(./img/arrow-down-white.svg) !important
      &--dropdown
        cursor: default
        position: relative
        padding-right: rem(45)
        &::after
          content: ''
          position: absolute
          right: rem(15)
          top: 50%
          transform: translateY(-50%)
          width: rem(24)
          height: rem(24)
          @extend .def-img
          background-size: 60% 60%
          background-image: url(./img/arrow-down.svg)            
  &__secondary
    position: absolute
    top: rem(113)
    @include media-breakpoint-down(md)
      top: rem(73)
    background-color: $white
    width: 100%
    @extend .d-flex
    @extend .flex-column
    @extend .align-items-center
    @extend .justify-content-center
    height: 0
    overflow-y: hidden
    z-index: 100
    transition: height $menu-transition
    &--show
      height: rem(84)
      @include media-breakpoint-down(md)
        height: rem(76)
      @include media-breakpoint-down(xs)
        height: rem(68)
    .HorizontalShowcase
      background-color: $white
      @extend .py-0
      .Header__links__item
        height: rem(40)
        padding-top: rem(6)
        margin-left: 0
        margin-right: rem(8)
        &:not(&--exit)
          @extend .flex-grow-1
        &--exit
          background-color: rgba(255, 0, 0, .2)
          width: rem(197)
          margin-right: 0
          transition: border-color $menu-transition
          &:hover
            border-color: rgba(43, 28, 28, 0)
          @include media-breakpoint-down(lg)
            width: rem(140)
          @include media-breakpoint-down(md)
            width: rem(100)
          @include media-breakpoint-down(xs)
            width: rem(120)
  &--mobile
    @extend .d-flex
    @extend .flex-column
    background-color: $black-primary
    width: 100vw
    height: 100vh
    position: absolute
    top: 0
    right: 0
    &__container
      @extend .d-block
      @extend .d-lg-none
      position: fixed
      z-index: 20000
      top: 0
      right: 0
      height: 0
      width: 0
      overflow: hidden
      border-bottom-left-radius: rem(1000)
      transition: width $menu-transition, height $menu-transition, border-bottom-left-radius $menu-transition
      &--opened
        width: 100vw
        height: 100vh
        border-bottom-left-radius: rem(0)
    .Header__burger
      background-image: url(./img/Header__cross.svg)
      width: rem(40)
      height: rem(40)
    .Header__logo
      rect
        fill: $white
      path
        fill: $black-primary
      &__name
        color: $white
    .Header__controls__item
      color: $white !important
      background-color: $black-primary !important
      border-color: $black-primary !important
      cursor: pointer !important
      path, circle, line, rect
        stroke: $white
    &__children
      @extend .container
      @extend .d-flex
      @extend .flex-column
      @extend .flex-grow-1
      @extend .no-scrollbar
      overflow-y: scroll
      overflow-x: hidden
      padding: rem(90) 0 rem(120)
      @include media-breakpoint-down(sm)
        padding: rem(40) 0 rem(120)
      .Header__controls
        @extend .d-flex
        @extend .mr-0
        @extend .justify-content-end
      .Link,
      .FormattedMessage
        color: $white
      .row
        @extend .flex-nowrap
        &:not(&:last-of-type)
          margin-bottom: rem(19)
          .Link
            @extend .h1
            @extend .d-inline-block
            margin-right: rem(40)
        &:last-of-type
          @extend .mt-m
          .Link
            @extend .d-inline-block
            margin-right: rem(20)
            @include media-breakpoint-down(sm)
              margin-right: rem(30)
    .Header__secondary
      @extend .d-none
           


.Footer
  margin-top: rem(128)
  @include media-breakpoint-down(sm)
    margin-top: rem(64)
  &__container
    @extend .container
  &__links,
  &__contacts,
  &__disclaimer
    @extend .row
    position: relative
    &::before
      content: ''
      width: calc(100% - #{$grid-gutter-width})
      height: rem(1)
      background-color: $black
      position: absolute
      top: 0
      left: $grid-gutter-width / 2
  &__contacts,
  &__disclaimer
    margin-top: rem(48)
    @include media-breakpoint-down(md)
      margin-top: rem(25)
    @include media-breakpoint-down(sm)
      margin-top: rem(32)
  &__links
    padding-top: rem(40)
    @include media-breakpoint-down(md)
      padding-top: rem(27)
    @include media-breakpoint-down(sm)
      padding-top: rem(24)
    &__home
      @extend .d-flex
      @extend .flex-row
      @extend .flex-md-column
      @extend .align-items-md-start
      @extend .align-items-center
      &__logo
        width: rem(90)
        height: rem(90)
        margin-bottom: rem(16)
        @include media-breakpoint-down(md)
          width: rem(100)
          height: rem(100)
          margin-bottom: rem(20)
        @include media-breakpoint-down(sm)
          width: rem(48)
          height: rem(48)
          margin-right: rem(16)
          margin-bottom: 0
        @extend .def-img
        background-image: url(./img/logo.svg)
      &__title
        display: inline-block
        font-family: 'Montserrat', sans-serif
        text-transform: lowercase
        font-size: rem(20)
        @include media-breakpoint-down(md)
          font-size: rem(16.66666)        
    &__1
      @extend .col-lg-4
    &__2
      @extend .col-lg-3
    &__divider
      min-height: rem(20)
      @extend .d-none
      @extend .d-md-block
      @extend .d-lg-none
    &__3
      @extend .col-lg-3
    &__4
      @extend .col-lg-2
    &__1,
    &__2,
    &__divider,
    &__3,
    &__4
      @extend .col-12
      @extend .col-md-2
      @include media-breakpoint-down(md)
        margin-bottom: rem(32)
        &:last-of-type
          margin-bottom: 0
    &__1,
    &__2,
    &__3,
    &__4
      @extend .d-flex
      @extend .flex-column
      @extend .align-items-start

  &__contacts
    padding-top: rem(32)
    @include media-breakpoint-down(md)
      padding-top: rem(19)
    @include media-breakpoint-down(sm)
      padding-top: rem(16)
    &__1,
    &__divider
      @extend .col-lg-4
      @extend .col-md-4
    &__divider
      min-height: rem(20)
      @extend .d-none
      @extend .d-md-block
      @extend .d-lg-none
    &__2,
    &__3
      @extend .col-lg-3
      @extend .col-md-2
    &__4
      @extend .col-lg-2
      @extend .col-md-2
    &__1,
    &__2
      @include media-breakpoint-down(md)
        margin-bottom: rem(24)
      @include media-breakpoint-down(sm)
        margin-bottom: rem(32)
    &__1,
    &__2,
    &__3,
    &__4
      @extend .d-flex
      @extend .flex-column
      @extend .align-items-start
      @extend .col-12
      
  &__disclaimer
    padding-top: rem(16)
    @include media-breakpoint-down(md)
      padding-top: rem(14)
    @include media-breakpoint-down(sm)
      padding-top: rem(16)
  
  &__link
    &--regular
      @extend .p--m
      text-decoration: underline !important
      display: inline-block
      @extend .mb-2
      min-height: rem(24)
    &--title
      display: inline-block
      text-transform: uppercase
      color: $white
      background-color: $line-primary
      padding: 0 rem(10)
      border-radius: rem(6)
      margin-bottom: rem(16)
      @include font-params(12, 24)
      @include media-breakpoint-down(md)
        margin-bottom: rem(18)
        @include font-params(10, 24)
      @include media-breakpoint-down(sm)
        margin-bottom: rem(8)
    &--email
      @extend .mb-0
      @include font-params(24, 32)
      @include media-breakpoint-down(lg)
        @include font-params(20, 28)
      @include media-breakpoint-down(md)
        @include font-params(20, 32)
      @include media-breakpoint-down(sm)
        @include font-params(20, 32)



.Login
  &__container
    @extend .container
    width: rem(694)
    padding-top: rem(56)
    @include media-breakpoint-down(md)
      width: rem(593)
      padding-top: rem(96)
    @include media-breakpoint-down(xs)
      width: rem(300)
      padding-top: rem(60)
  &__main
    width: 100%
    @extend .d-flex
    @extend .flex-column
    @extend .align-items-center
    @extend .pink-block
    padding: rem(38) rem(87) rem(76)
    @include media-breakpoint-down(md)
      padding: rem(38) rem(60) rem(76)
    @include media-breakpoint-down(xs)
      padding: rem(42) rem(20) rem(52)
    &__h2
      @extend .h2
    &__controls
      width: rem(416)
      @extend .d-flex
      @include media-breakpoint-down(md)
        width: rem(340)
      @include media-breakpoint-down(xs)
        width: 100%
      &__button
        @extend .button--main--2



.Tickets,
.Admin,
.Settings
  margin-top: rem(87)
  @include media-breakpoint-down(lg)
    margin-top: rem(57)
  @include media-breakpoint-down(xs)
    margin-top: rem(44)

.Settings
  &__container
    @extend .container
  &__h1
    @extend .h1
    margin-bottom: rem(112)
    @include media-breakpoint-down(md)
      margin-bottom: rem(81)
    @include media-breakpoint-down(xs)
      margin-bottom: rem(53)
  &__registered
    @extend .h3
    @extend .h3--underline
  &__sessions
    @extend .row
    &__item
      @extend .pink-block
      padding: rem(23) rem(24) rem(39)
      @extend .col-12
      @extend .col-sm-6
      @extend .col-md-4
      &__date
        @extend .h3
        @extend .h3--underline
        font-weight: 400
      &__device-info
        @extend .font-spectral





.Home
  &__cover
    width: 100%
    background-color: #FFDE00
    @extend .mb-s
    height: rem(684)
    @include media-breakpoint-down(lg)
      height: rem(512)
    @include media-breakpoint-down(md)
      height: rem(460)





.HorizontalShowcase
  width: 100%
  background-color: $background
  padding: rem(56) 0 rem(120)
  @include media-breakpoint-down(md)
    padding: rem(62) 0 rem(96)
  @include media-breakpoint-down(md)
    padding: rem(46) 0 rem(64)
  &__scroll
    width: 100%
    overflow-x: scroll
    @extend .no-scrollbar
    &__container
      @extend .d-inline-flex
      @extend .flex-row
      @extend .flex-nowrap
      padding-left: calc((100vw - #{get-breakpoints('xl')} + #{$grid-gutter-width}) / 2)
      padding-right: calc((100vw - #{get-breakpoints('xl')} + #{$grid-gutter-width}) / 2)
      min-width: 100%
      @include media-breakpoint-down(lg)
        padding-left: calc((100vw - #{get-breakpoints('lg')} + #{$grid-gutter-width}) / 2)
        padding-right: calc((100vw - #{get-breakpoints('lg')} + #{$grid-gutter-width}) / 2)
      @include media-breakpoint-down(md)
        padding-left: calc((100vw - #{get-breakpoints('md')} + #{$grid-gutter-width}) / 2)
        padding-right: calc((100vw - #{get-breakpoints('md')} + #{$grid-gutter-width}) / 2)
      @include media-breakpoint-down(sm)
        padding-left: calc((100vw - #{get-breakpoints('sm')} + #{$grid-gutter-width}) / 2)
        padding-right: calc((100vw - #{get-breakpoints('sm')} + #{$grid-gutter-width}) / 2)
      @include media-breakpoint-down(xs)
        padding-left: calc((100vw - #{get-breakpoints('xs')} + #{$grid-gutter-width}) / 2)
        padding-right: calc((100vw - #{get-breakpoints('xs')} + #{$grid-gutter-width}) / 2)
  &__item
    &--L
      @include media-breakpoint-up(lg)
        width: calc(#{get-breakpoints('lg')} / 13 * 6 - #{$grid-gutter-width})
      @include media-breakpoint-up(xl)
        width: calc(#{get-breakpoints('xl')} / 13 * 6 - #{$grid-gutter-width})
    &--M
      @include media-breakpoint-up(lg)
        width: calc(#{get-breakpoints('lg')} / 13 * 4 - #{$grid-gutter-width})
      @include media-breakpoint-up(xl)
        width: calc(#{get-breakpoints('xl')} / 13 * 4 - #{$grid-gutter-width})
    &--S
      @include media-breakpoint-up(lg)
        width: calc(#{get-breakpoints('lg')} / 13 * 3 - #{$grid-gutter-width})
      @include media-breakpoint-up(xl)
        width: calc(#{get-breakpoints('xl')} / 13 * 3 - #{$grid-gutter-width})

.SpektCard
  cursor: pointer
  margin-right: $grid-gutter-width
  @extend .d-flex
  @extend .flex-column
  @include media-breakpoint-down(md)
    width: calc(#{get-breakpoints('md')} / 7 * 3 - #{$grid-gutter-width})
  @include media-breakpoint-down(sm)
    width: calc(#{get-breakpoints('sm')} / 5 * 4 - #{$grid-gutter-width})
  @include media-breakpoint-down(xs)
    width: calc(#{get-breakpoints('xs')} / 5 * 4 - #{$grid-gutter-width})
  &__name
    font-weight: bold
    margin-bottom: rem(7)
    hyphens: auto
    .HorizontalShowcase__item--L &
      @include media-breakpoint-up(lg)
        @include font-params(24, 28)
    @include font-params(20, 24)
    @include media-breakpoint-down(md)
      margin-bottom: rem(2)
    @include media-breakpoint-down(sm)
      @include font-params(16, 20)
    .SpektCard:hover &
      text-decoration: underline
  &__makers
    margin-bottom: rem(13)
    @include media-breakpoint-down(sm)
      margin-bottom: rem(14)
    &__item
      display: inline-block
      @extend .font-spectral
      @include font-params(22, 24)
      .HorizontalShowcase__item--L &
        @include media-breakpoint-up(lg)
          @include font-params(27, 28)
      @include media-breakpoint-down(md)
        @include font-params(23, 24)
      @include media-breakpoint-down(sm)
        @include font-params(19, 20)
      .SpektCard:hover &
        text-decoration: underline
  &__short-desc
    @extend .p--s
    margin-bottom: rem(28)
  &__buttons
    @extend .d-flex
    @extend .flex-row
    @extend .mt-auto
    margin-bottom: rem(16)
    .button
      margin-right: rem(6)
      cursor: pointer !important
  &__cover
    width: 100%
    overflow: hidden
    border-radius: rem(12)
    @include media-breakpoint-down(md)
      border-radius: rem(10)
    @include media-breakpoint-down(sm)
      border-radius: rem(12)


.Loading
  position: fixed
  top: 0
  left: 0
  width: 100vw
  height: 100vh
  background-color: rgba(255, 255, 255, .5)




.Archive
  padding-top: rem(171)
  @include media-breakpoint-up(lg)
    padding-top: rem(173)
  @include media-breakpoint-down(md)
    padding-top: rem(133)
  @include media-breakpoint-down(sm)
    padding-top: rem(112)
  &__pink-block
    @extend .pink-block
    @extend .d-flex
    @extend .flex-column
    @extend .justify-content-between
    height: 100%
    padding: rem(27) rem(30) rem(41)
    margin-bottom: rem(24)
    @include media-breakpoint-down(lg)
      padding: rem(23) rem(20) rem(41)
    @include media-breakpoint-down(md)
      padding: rem(23) rem(20) rem(33)
    @include media-breakpoint-down(sm)
      padding: rem(19) rem(16) rem(23)
    &__number
      @extend .font-spectral
      @include font-params(90, 90)
      margin-bottom: rem(14)
      @include media-breakpoint-down(md)
        margin-bottom: rem(26)
      @include media-breakpoint-down(sm)
        margin-bottom: rem(8)
  &__links
    @extend .d-flex
    @extend .align-items-end
    @extend .ml-0
    @extend .ml-md-m
    @include media-breakpoint-down(sm)
      margin-top: rem(15)
    &__item
      margin-right: rem(30)
      @extend .d-flex
      @extend .align-items-end
      &::after
        content: ''
        @extend .d-inline-block
        width: rem(28)
        height: rem(28)
        @include media-breakpoint-down(md)
          width: rem(24)
          height: rem(24)
        @include media-breakpoint-down(sm)
          width: rem(20)
          height: rem(20)
        @extend .def-img
        background-image: url(./img/arrow-up-right.svg)
        margin-left: rem(8)

        

.Editor
  width: 100vw
  height: 100vh
  background-color: rgba(0, 0, 0, .25)
  position: fixed
  top: 0
  left: 0




.Spekt
  &__cover-container
    overflow: hidden
    border-radius: rem(12)
    @include media-breakpoint-down(md)
      border-radius: rem(10)
    @include media-breakpoint-down(sm)
      border-radius: rem(8)
  &__show
    @extend .d-flex
    @extend .flex-column
    @extend .flex-md-row
    border-bottom: $border
    &:last-of-type
      border-bottom: none
    padding-top: rem(18)
    padding-bottom: rem(18)
    @include media-breakpoint-down(sm)
      padding-top: rem(17)
      padding-bottom: rem(23)
    &__date-time
      @extend .pr-md-1
      width: 50%
      @include media-breakpoint-down(sm)
        margin-bottom: rem(11)
    &__line
      @extend .pl-md-1
      width: 20%
      @include media-breakpoint-down(sm)
        margin-bottom: rem(13)
    &__buy
      width: 30%
      text-align: right
      @include media-breakpoint-down(sm)
        text-align: left
    &__date-time,
    &__line,
    &__buy
      @include media-breakpoint-down(sm)
        width: 100%
